<div class="container justify-content-center align-items-center text-center pt-3 mt-2">
  <button class="btn btn-primary p-2" (click)='openRedirect()'>Click here to redirect to Redirect page</button>
</div>
<div class="container">
  <div class="main-data">
    <h2 class="text-align-center text-uppercase">Data provided for task</h2>
    <p class="text-uppercase" *ngIf="sortByNameVal">Data after sort by name</p>
    <p class="text-uppercase" *ngIf="sortByDateVal">Data after sort by date</p>
    <p class="text-uppercase" *ngIf="removeCandidatesVal">Data after removing department Development</p>
    <p class="text-uppercase" *ngIf="searchByExpVal">Data of all candidates with experience more than 2 years</p>
    <table class="table mt-4">
      <thead>
        <tr>
          <th  class="text-align-center font-heading text-uppercase"scope="col">#</th>
          <th  class="text-align-center font-heading text-uppercase"scope="col">id</th>
          <th  class="text-align-center font-heading text-uppercase"scope="col">Name</th>
          <th  class="text-align-center font-heading text-uppercase"scope="col">Department</th>
          <th  class="text-align-center font-heading text-uppercase"scope="col">Joining Date</th>
        </tr>
      </thead>
      <tbody *ngIf="!sortByNameVal && !searchByExpVal && !removeCandidatesVal">
        <tr *ngFor="let item of candidate_data;index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.department}}</td>
          <td>{{item.joining_date}}</td>
        </tr>
      </tbody>
      <tbody *ngIf="sortByNameVal">
        <tr *ngFor="let item of sortedName;index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.department}}</td>
          <td>{{item.joining_date}}</td>
        </tr>
      </tbody>
      <tbody *ngIf="searchByExpVal">
        <tr *ngFor="let item of filteredData;index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.department}}</td>
          <td>{{item.joining_date}}</td>
        </tr>
      </tbody>
      <tbody *ngIf="removeCandidatesVal">
        <tr *ngFor="let item of removeData;index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.department}}</td>
          <td>{{item.joining_date}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="searchByNameVal" class="mt-2 main-data">
    <hr>
    <p class="text-uppercase">Input name of the person whose record you want to search</p>
    <div class="d-flex align-items-center justify-content-between">
      <label for="exampleinputname">Enter Name</label>
      <input type="search" class="form-control w-50" placeholder="Enter name" name="search by name"
        (keyup)="searchName($event)">
    </div>
    <table class="table mt-4" *ngIf="searchValue">
      <thead>
        <tr>
          <th class="text-align-center font-heading text-uppercase" scope="col">#</th>
          <th class="text-align-center font-heading text-uppercase" scope="col">id</th>
          <th class="text-align-center font-heading text-uppercase" scope="col">Name</th>
          <th class="text-align-center font-heading text-uppercase" scope="col">Department</th>
          <th class="text-align-center font-heading text-uppercase" scope="col">Joining Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>{{searchId}}</td>
          <td>{{searchEmp}}</td>
          <td>{{searchDept}}</td>
          <td>{{searchjoiningDate}}</td>
        </tr>
      </tbody>
    </table>
    <hr>
  </div>
  <div *ngIf="searchDistinctVal" class="mt-2 main-data">
    <hr>
    <h2>Please find the details below for distinct departments:</h2>
    <p *ngFor="let item of distinctData">{{item}}</p>
    <hr>
  </div>

  <div class="operations">
    <h2 class="mt-2">Tasks to Perform</h2>
    <div class="d-flex  mt-1">
      <p class='w-50'>1. Sort by Name</p>
      <button type="submit" class="btn btn-primary font-heading text-uppercase " (click)='sortByName()'>Click to sort by Name</button>
    </div>
    <div class="d-flex mt-1">
      <p class='w-50'>2. Sort by Joining Date</p>
      <button type="submit" class="btn btn-primary font-heading text-uppercase  " (click)='sortByDate()'>Click to sort by Joining Date</button>
    </div>
    <div class="d-flex  mt-1">
      <p class='w-50'>3. Search by Name</p>
      <button type="submit" class="btn btn-primary font-heading text-uppercase " (click)='searchByName()'>Click to search by name</button>
    </div>
    <div class="d-flex  mt-1">
      <p class='w-50'> 4. Find all candidates with experience more than 2 years</p>
      <button type="submit" class="btn btn-primary font-heading text-uppercase " (click)='searchByExp()'>Click to find by exp</button>
    </div>
    <div class="d-flex  mt-1">
      <p class='w-50'>5. Get distinct departments and count of candidates in each.</p>
      <button type="submit" class="btn btn-primary font-heading text-uppercase  " (click)='searchDistinct()'>Click to find distinct</button>
    </div>
    <div class="d-flex  mt-1">
      <p class='w-50'>6. Remove all candidates from 'Development' department..</p>
      <button type="submit" class="btn btn-primary font-heading text-uppercase " (click)='removeCandidates()'>Click to remove all from dev</button>
    </div>
    <div class="d-flex  mt-1">
      <p class='w-50'>7. Reset to default</p>
      <button type="submit" class="btn btn-primary font-heading text-uppercase " (click)='reset()'>Click to reset</button>
    </div>
  </div>
</div>
